@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'DOSSaemmul';
    font-size: 25px;
}

button,
input,
textarea,
select {
    font-family: inherit
}

a {
    text-decoration: none;
}

.pointer:hover {
    cursor: pointer;
}

.accent {
    color: #0D99FF;
    font-style: normal;
}

.neon-text {
    font-size: large;
    text-shadow: #0D99FF 0 1px 5px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    line-height: 25px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.main-item {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left-btn,
.right-btn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #B9E1FF;
    text-decoration: none;
    display: block;
}

.left-btn.neon-text,
.right-btn.neon-text {
    text-shadow: #B9E1FF 0 1px 5px;
    font-size: medium;
}

.carousel-track-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.main-item.hide {
    display: none;
}

.floating {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 10%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite;
}

.goodbye {
    width: 300px;
    height: 200px;
    resize: none;
}

.cloud {
    width: 200px;
    height: 100px;
}

.cloud.upload {
    cursor: pointer;
}

.text-counter {
    display: flex;
    margin: 0;
    align-self: end;
}

.text-counter-wrap {
    display: flex;
    flex-direction: column;
}

.left {
    text-align: left;
}

.deleted-quota-info {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.deleted-quota-info.fade-out {
    opacity: 0;
    height: 0;
    transform: translateY(20px);
}

.deleted-quota-text {
    font-size: 25px;
}

.deleted-quota-info.fade-in {
    opacity: 1;
    height: 250px;
}

.shade {
    color: #898989;
    font-size: 15px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.deleted-photo-input {
    width: 200px;
    height: 40px;

    --width: 2px;
    --color: black;
    --bgcolor: #b9e1ff00;

    background-color: var(--bgcolor);
    box-sizing: border-box;
    font-size: 20px;
    border: 0;
    box-shadow:
        var(--width) 0 var(--bgcolor),
        calc(-1 * var(--width)) 0 var(--bgcolor),
        0 calc(-1 * var(--width)) var(--bgcolor),
        0 var(--width) var(--bgcolor),
        calc(2 * var(--width)) 0 var(--color),
        calc(-2 * var(--width)) 0 var(--color),
        0 calc(-2 * var(--width)) var(--color),
        0 calc(2 * var(--width)) var(--color),
        0 0 0 var(--width) var(--color);
}

.deleted-photo-input.with-error {
    --color: red;
}

.error {
    color: rgb(255, 0, 0);
    margin: 0;
    margin-top: 3px;
    font-size: 15px;
    text-align: left;
}


.pixel-button {
    --width: 4px;
    --color: black;
    --bgcolor: #B9E1FF;

    background-color: var(--bgcolor);
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    margin: 30px;
    height: 30px;

    box-shadow:
        var(--width) 0 var(--bgcolor),
        calc(-1 * var(--width)) 0 var(--bgcolor),
        0 calc(-1 * var(--width)) var(--bgcolor),
        0 var(--width) var(--bgcolor),
        calc(2 * var(--width)) 0 var(--color),
        calc(-2 * var(--width)) 0 var(--color),
        0 calc(-2 * var(--width)) var(--color),
        0 calc(2 * var(--width)) var(--color),
        0 0 0 var(--width) var(--color);
}

.pixel-button.disabled {
    --width: 3px;
    --color: rgba(118, 118, 118, 0.1);
    color: gray;
    --bgcolor: rgb(237, 237, 237);
}

.to-main {
    margin: 0;
    margin-top: 50px;
}

.logo-wrapper {
    position: relative;
    display: flex;
}

.logo-big {
    width: 100px;
    z-index: 10;
}

.logo-small {
    height: 10px;
    width: 15px;
    position: absolute;
}

.logo-first {
    top: 60px;
    left: 80px;
}

.logo-second {
    top: 50px;
    left: 60px;
}

.black-dot-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    gap: 15px;
}

.black-dot {
    z-index: 10;
    width: 3px;
    height: 3px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
}

.logo-wrapper-memory:hover .black-dot {
    animation: blink 3s steps(1) infinite;
    animation-delay: calc(var(--index) * 0.5s);
    animation-fill-mode: forwards;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.black-dot:nth-child(1) {
    --index: 1;
}

.black-dot:nth-child(2) {
    --index: 2;
}

.black-dot:nth-child(3) {
    --index: 3;
}

.logo-star {
    width: 20px;
    top: 100%;
    left: 20%;
    position: absolute;
}

@keyframes bounce-star {
    0% {
        top: 100%;
        left: 20%;
    }

    100% {
        rotate: -20deg;
    }
}

.logo-wrapper:hover .logo-star {
    animation: bounce-star 1s steps(2) infinite;
}

.logo-button {
    width: 20px;
    top: 130%;
    left: 40%;
    position: absolute;
}

@keyframes bounce-button {
    0% {
        top: 130%;
        left: 40%;
    }

    100% {
        rotate: -50deg;
    }
}

.logo-wrapper:hover .logo-button {
    animation: bounce-button 1s steps(2) infinite;
}

.logo-narutomaki {
    width: 20px;
    top: 80%;
    left: 50%;
    position: absolute;
}

@keyframes bounce-narutomaki {
    0% {
        top: 80%;
        left: 50%;
    }

    100% {
        rotate: 40deg;
    }
}

.logo-wrapper:hover .logo-narutomaki {
    animation: bounce-narutomaki 1s steps(2) infinite;
}

.logo-tamagotchi {
    width: 20px;
    top: 100%;
    left: 70%;
    position: absolute;
    rotate: 20deg;
}

@keyframes bounce-tamagotchi {
    0% {
        top: 100%;
        left: 70%;
    }

    100% {
        rotate: 40deg;
    }
}

.logo-wrapper:hover .logo-tamagotchi {
    animation: bounce-tamagotchi 1s steps(2) infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}

@media (min-width: 768px) {
    .main-item {
        flex: 0 0 auto;
    }

    .main-item.hide {
        display: flex;
    }

    .left-btn,
    .right-btn {
        display: none;
    }

    .memory-wrap {
        display: flex;
    }
}

@media (max-width: 768px) {
    .logo-button {
        animation: bounce-button 1s steps(2) infinite;
    }

    .logo-narutomaki {
        animation: bounce-narutomaki 1s steps(2) infinite;
    }

    .logo-tamagotchi {
        animation: bounce-tamagotchi 1s steps(2) infinite;
    }

    .logo-star {
        animation: bounce-star 1s steps(2) infinite;
    }

    .black-dot {
        animation: blink 3s steps(1) infinite;
        animation-delay: calc(var(--index) * 0.5s);
    }
}