@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'DOSSaemmul';
}

a {
    text-decoration: none;
    color: #0D99FF;
}

.neon_text {
    font-size: large;
    text-shadow: #0D99FF 0 1px 5px;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

.main-item {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.left-btn, .right-btn {
    display: block;
}

.carousel-track-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.main-item.hide {
    display: none;
}

@media (min-width: 768px) {
    .main-item {
        flex: 0 0 auto;
        background-color: cadetblue;
    }

    .main-item.hide {
        display: flex;
    }

    .left-btn, .right-btn {
        display: none;
    }

    .memory-wrap {
        display: flex;
    }
}
