.summary-container {
    display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    align-items: center;
    text-align: center;
    line-height: 25px;
}

.deleted-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.gradient {
    height: 170px;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #0D99FF80, #FFFFFF);
}

.deleted-title-label {
    text-align: left;
    padding: 30px 0px 0px 20px;
    z-index: 1;
}

.deleted-quota-wrapper {
    height: 300px;
    position: relative;
}

.deleted-quota-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 330px;
}

.deleted-quota {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 50px;
}

.deleted-quota-label {
    font-size: 16px;
    position: absolute;
    top: 80%;
    left: 50%;
}

.label-right-down {
    z-index: 3;
    position: absolute;
    font-size: 16px;
    top: 100px;
    line-height: 20px;
    right: 0;
    margin: 0;
}

.oval-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.oval {
    position: relative;
    width: 300px;
    height: 80px;
    border-radius: 50%;
}

.oval.first {
    background-color: #BAFFC5;
}

.oval.second {
    background-color: #FFFCBA;
}

.oval.third {
    background-color: #FBCEFF;
}

.oval-text {
    width: 100%;
    margin: 0;
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accent-oval-text {
    font-size: 20px;
    font-style: normal;
}

.accent-oval-text.first {
    color: #009962;
}

.accent-oval-text.second {
    color: #C8C000;
}

.accent-oval-text.third {
    color: #D400E6;
}

.carbon-text {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.carbon-text-last {
    font-size: 16px;
    margin: 30;
}

.grid-container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 70px;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA;
}

.grid-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-item {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.label {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
}

.grid-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    width: 70px;
    height: 70px;
}

.summary-main-button {
    width: 100px;
    margin-bottom: 50px;
}